# Dépendances Node.js
node_modules/

# Fichiers d'environnement sensibles
.env

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sauvegardes ou fichiers temporaires
*.bak
*.tmp

# Configuration des IDEs/éditeurs (optionnel si tu utilises ces outils)
.vscode/
.idea/

# Fichiers spécifiques au système
.DS_Store  # macOS
Thumbs.db  # Windows